ho1/.vscode/settings.json
.DS_Store
*.exe
ex2/unit_01/array-sort-1/input.txt
ex2/unit_01/array-sort-1/out.txt
ex2/unit_01/array-sort-1/run
ex2/unit_01/array-sort-1/test
ex2/unit_01/array-sort-2/input.txt
ex2/unit_01/array-sort-2/output.txt
ex2/unit_01/array-sort-3/data.dat
ex2/unit_01/array-sort-3/input.txt
ex2/unit_01/array-sort-3/output.txt
**/build
**/outputs

